# Create Read Update Delete (CRUD) MySQL Database Dengan Python

Untuk mengakses MySQL, setidaknya kita bisa meminta bantuan dari driver [mysqlclient](https://mysqlclient.readthedocs.io). Lakukan [instalasi](https://github.com/PyMySQL/mysqlclient-python#install) dan import library tersebut. Untuk mempelajari tentang library tersebut dapat membuka [dokumentasinya](https://mysqlclient.readthedocs.io/user_guide.html#mysqldb) langsung.

In [1]:
import MySQLdb

Misal kita ingin membuat sebuah database untuk penyimpanan data anggota telegram di komunitas Surabaya.py. Jadi kita membutuhkan tabel anggota kurang lebih seperti ini:

|User ID|Nama|Email|Password|Telegram ID|Registered Date|Activation Key|
|--|--|--|--|--|--|--|
|int|varchar|varchar|varchar|varchar|date|varchar|
|Primary||Unique||Unique||Unique|

Sekarang kita coba terhubung dengan MySQL, membuat database dan membuat tabel anggota.

In [21]:
host = 'localhost'
mysql_username = 'root'
mysql_password = 'root'

database = 'surabayapy'
table_member = 'anggota'

In [7]:
db=MySQLdb.connect(host, mysql_username, mysql_password)
cursor = db.cursor()

In [8]:
# Membuat Database
sql = "CREATE DATABASE IF NOT EXISTS %s" % (database) 
cursor.execute(sql)

1

In [10]:
sql = 'USE `%s`' % (database)
cursor.execute(sql)

0

In [9]:
# Membuat Tabel
sql = '''CREATE TABLE IF NOT EXISTS `%s`.`%s` ( 
    `userid` INT NOT NULL AUTO_INCREMENT , 
    `name` VARCHAR(64) NOT NULL , 
    `email` VARCHAR(64) NOT NULL , 
    `password` VARCHAR(64) NOT NULL , 
    `telegram_id` VARCHAR(64) ,
    `registered_date` DATE NOT NULL , 
    `activation_key` VARCHAR(64) , 
    PRIMARY KEY (`userid`),
    UNIQUE (`email`),
    UNIQUE (`telegram_id`),
    UNIQUE (`activation_key`)
    ) ENGINE = InnoDB;
   ''' % (database, table_member)
cursor.execute(sql)

0

In [46]:
from datetime import datetime
import hashlib

In [51]:
# Read Account If Already Registered

def check_not_registered(telegram_id, email):
    sql = '''
                select `name` from `%s` where `telegram_id`='%s' or `email`='%s';
            ''' % (table_member, telegram_id, email)
    response = cursor.execute(sql)
    if (response > 0):
        response = cursor.fetchone()
        print("Hello %s, check your email for activating your account" % response[0])
        return False
    
    return True

In [ ]:
# Supporing Function

def sha256(password):
    password = password.encode('UTF-8')
    hash_object = hashlib.sha256(password)
    hex_dig = hash_object.hexdigest()
    return hex_dig

def md5(text):
    from random import randint
    salt = str(randint(1, 7829))
    text = salt+text
    text = text.encode('UTF-8')
    hash_object = hashlib.md5(text)
    hex_dig = hash_object.hexdigest()
    return hex_dig

In [64]:
# Create Account
def register(name, email, password, telegram_id):
    if check_not_registered(telegram_id, email):
        password = sha256(password)
        activation_key = md5(email + str(datetime.utcnow()))
        # userid, name, email, password, telegram_id, registered_date, activation_key
        sql = '''
                    insert into `%s` values (NULL, '%s', '%s', '%s', '%s', CURRENT_DATE(), '%s');
                ''' % (table_member, name, email, password, telegram_id, activation_key) 
        cursor.execute(sql)
        print('Account activation code: "%s" for @%s' % (activation_key, telegram_id))
    
        db.commit()

In [76]:
# Update Account
def activation(activation_key, telegram_id):
    sql = '''
              update `%s` set `activation_key` = NULL where `telegram_id` = '%s' and `activation_key` = '%s';
          ''' % (table_member, telegram_id, activation_key)
    response = cursor.execute(sql)
    if (response > 0):
        print('Activation Success')
    else:
        print('Activation failed. Please try again.')

In [69]:
# Delete Account
def delete_account(email, password, telegram_id):
    sql = '''
              delete from `anggota` where `telegram_id` = '%s' and `activation_key` = '%s' and ;
          '''

In [80]:
name = 'Tegar Imansyah'
email = 'tegarimansyah.name'
password = 'cobapassword'
telegram_id = 'tegarimnsyah'
register(name, email, password, telegram_id)

Account activation code: "51e3fee1491a6b6fd8a1d353fcbe1c23" for @tegarimnsyah

In [82]:
activation_code = '51e3fee1491a6b6fd8a1d353fcbe1c23'
activation(activation_code, telegram_id)

Success

In [ ]:
delete_account(email,password,telegram_id)